**/node_modules

**/dist

**/out

npm-debug.log

yarn-error.log

client/.angular/cache

client/.sass-cache/

client/connect.lock

client/coverage

client/libpeerconnection.log

client/testem.log

client/typings

**/.DS_Store

**/Thumbs.db